<?xml version="1.0" ?>
<!--
  桌子模型配置文件
  
  作者: AIRJASON50
  日期: 2024-04-14
  
  此文件定义了桌子模型的元数据，包括：
  - 模型名称
  - 版本信息
  - 对应的SDF文件
  - 作者信息
  - 简要描述
  
  该配置文件用于Gazebo模型数据库识别和管理模型
-->
<model>
    <!-- 模型名称: 在Gazebo和launch文件中引用的标识符 -->
    <n>table</n>
    <!-- 版本号: 模型的版本号，便于版本控制 -->
    <version>1.0</version>
    <!-- SDF版本和文件名: 指定使用的SDF文件和版本 -->
    <sdf version="1.6">model.sdf</sdf>
    <!-- 作者信息: 模型的创建者和联系方式 -->
    <author>
        <n>Franka Robotics</n>
        <email>support@franka.de</email>
    </author>
    <!-- 模型描述: 简要说明模型的用途和特点 -->
    <description>用于FR3机器人力探头测试的简易桌子模型。</description>
</model>
