<!-- <?xml version="1.0"?>
<model>
  <name>Cylinder Probe</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>AIRJASON50</name>
    <email>none</email>
  </author>
  
  <description>
    圆柱形探头模型，直径60mm，高度109mm，顶部有直径5mm的球形探针。
    坐标系位于底部圆心，Z轴指向顶部。设计用于与机器人法兰固连进行力检测试验。
  </description>
</model>  -->